.toolbarComponet {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.toolbarWrapper {
  padding: 10px;
}

.buttonStyle{
  cursor: pointer;
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 9px 50px;
  overflow: hidden;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: background-color 0.3s ease, cursor 0.3s ease;
  text-align: center;
}

.fill {
  cursor: grab;
}
.buttonStyle:hover,.fill:hover {
  background-color: lightgray;
 
}
